$color-turquois: #baf2e8;
$color-bleu: #218da6;
$color-creme: #fffff0;
$color-rosePale: #feb2ad;
$color-roseRouge: #f56358;
$color-noir: #323232;

.container{
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/*CORP DE LA PAGE*/

body {
  background-color: $color-creme;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  color: $color-noir;
  overflow-X: hidden;
  overflow-y: hidden;
}

h1, h2, h3{
  font-family: 'Nunito', 'Open sans', Arial, Helvetica, sans-serif;
  text-align: center;
}

h2{
  color: $color-roseRouge;
}

hr{
  border: solid 1px $color-roseRouge;
  height: 0;
  margin: auto;
  width: 15%;
  margin-bottom: 30px;
}

section{
  margin-bottom: 40px;
}

/*NAVIGATION*/

nav{
  padding:3px 10% !important;
  box-shadow: 0px 3px 5px lightgrey;
}

.navbar{
  background-color: $color-turquois !important;
}

#logo{
  height: 50px;
}

/*HEADER*/
header {
  padding-top:70px; 
  height: 100vh;
  background-image: url("../images/Header.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2000;
  width: 100%;
}

#banniere{
  width: 100%;
}

#banniereHeader{
  padding-bottom: 100px;
}

h1{
  background-color: #fffff08f;
  border-radius: 10px;
  padding: 15px 0 15px 0;
  margin-top: 20px;
  border: $color-creme solid 3px;
}

.fa-chevron-up{
  color: $color-creme;
  font-size: 3em;
  position: relative;
  top: 7rem;
}

/* FONCTIONNEMENT */

#fonctionnement{
  padding-top: 90px;
}

#carrousel li{
  list-style-type: none;
}

.instruction{
  position: absolute;
  z-index: 2;
  margin-top: 50px;
  background-color: #ffffffbd;
  border: 2px solid $color-bleu;
  border-radius: 10px;
  p{
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0 10px 0;
  }
}

.diapositive{
  display: none;
  img{
    width: 100%;
  }
}

.fa-chevron-left, .fa-chevron-right{
  color: #f5625886;
  font-size: 7em;
  position: absolute;
  top:40%;
}

.fa-chevron-right{
  right: -25px;
}

.selecteur{
  display: flex;
  justify-content: center;
  color: #f5625886;
  li{
    margin: 0 5px 0 5px;
  }
}

.fa-play, .fa-pause{
  color: $color-roseRouge;
  font-size: 1.75em; 
}

.boutons{
  position: absolute;
  bottom: 11px;
  left: 500px;
}

/* RESERVER */

#mapid{
  height: 500px;
  width: 100%;
  z-index: 3;
}

#detailStation{
 background-color: white;
 border-radius: 10px;
 box-shadow: 2px 2px 12px #aaa;
 padding: 0;
}

#titreStation{
  background-color: $color-roseRouge;
  color: white;
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  h3{
    margin: 0;
  }
}

#corpStation{
  padding: 0 15px 10px 15px;
  #status{
    text-transform: uppercase;
    display: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    color: white;
  }

  button{
    background-color: $color-roseRouge;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin-top: 5px;
  }
}

input{
  border-radius: 5px;
  border: $color-rosePale 2px solid;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 3px;
  &:focus{
    border: $color-roseRouge 2px solid;
    border-radius: 5px;
  }
}

canvas{
  display: block;
  cursor: crosshair;
  border: $color-roseRouge 2px solid;
  border-radius: 5px;
}

/* MA RESERVATION */

.details{
  background: $color-bleu;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  width: 60px;
  text-align: center;
  color: white;
  margin-right: 10px;
}

#tempsRestant{
  text-align: center;
  color: $color-bleu;
  font-size: 1.5em;
}

#minuteur{
  background: white;
  border: $color-bleu solid 3px;
  text-align: center;
  padding: 10px;
  color: $color-bleu;
  font-size: 1.75em;
  border-radius: 10px;
}

/* FOOTER */
footer{
  background: $color-turquois;
  padding-top: 15px;
  margin-top: 15px;
  p{
    font-size: 0.85em;
    color: $color-bleu;
  }
}

/* [class*="col-"], footer {
  background-color: lightgreen;
  outline: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
} */