body {
  background-color: #fffff0;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

.container{
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

/*NAVIGATION*/

nav{
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.navbar{
  background-color: #fffff0 !important;
}

#logo{
  height: 50px;
}

/*HEADER*/
header {
  background: url(../images/Header.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
