.container{
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/*CORP DE LA PAGE*/

body {
  background-color: #fffff0;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  color: #323232;
  overflow-X: hidden;
  overflow-y: hidden;
}

h1, h2, h3{
  font-family: 'Nunito', 'Open sans', Arial, Helvetica, sans-serif;
  text-align: center;
}

h2{
  color: #f56358;
}

hr{
  border: solid 1px #f56358;
  height: 0;
  margin: auto;
  width: 15%;
  margin-bottom: 30px;
}

/*NAVIGATION*/

nav{
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.navbar{
  background-color: #fffff0 !important;
}

#logo{
  height: 50px;
}

/*HEADER*/
header {
  padding-top:70px; 
  height: 100vh;
  background-image: url("../images/Header.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
}

#banniere{
  width: 100%;
}

#banniereHeader{
  padding-bottom: 100px;
}

h1{
  background-color: #fffff08f;
  border-radius: 10px;
  padding: 15px 0 15px 0;
  margin-top: 20px;
  border: #fffff0 solid 3px;
}

.fa-chevron-up{
  color: #fffff0;
  font-size: 3em;
  position: relative;
  top: 10rem;
}

/* FONCTIONNEMENT */

#fonctionnement{
  padding-top: 70px;
}

#carrousel li{
  list-style-type: none;
}

.instruction{
  position: absolute;
  z-index: 2;
  margin-top: 50px;
  background-color: #ffffffbd;
  border: 2px solid #218da6;
  border-radius: 10px;
  p{
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0 10px 0;
  }
}

.diapositive{
  display: none;
  img{
    width: 100%;
  }
}

.fa-chevron-left, .fa-chevron-right{
  color: #f5625886;
  font-size: 7em;
  position: absolute;
  top:40%;
}

.fa-chevron-right{
  right: -25px;
}

.selecteur{
  display: flex;
  justify-content: center;
  color: #f5625886;
  li{
    margin: 0 5px 0 5px;
  }
}

.fa-play, .fa-pause{
  color: #f56358;
  font-size: 1.75em; 
}

.boutons{
  position: absolute;
  bottom: 11px;
  left: 500px;
}

/* RESERVER */

/* MA RESERVATION */

.details{
  background: #218da6;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  width: 60px;
  text-align: center;
  color: white;
  margin-right: 10px;
}

#tempsRestant{
  text-align: center;
  color: #218da6;
  font-size: 1.5em;
}

#minuteur{
  background: white;
  border: #218da6 solid 3px;
  text-align: center;
  padding: 10px;
  color: #218da6;
  font-size: 1.75em;
  border-radius: 10px;
}

/* FOOTER */
footer{
  background: #baf2e2;
  padding-top: 15px;
  margin-top: 15px;
  p{
    font-size: 0.85em;
    color: #218da6;
  }
}

/* [class*="col-"], footer {
  background-color: lightgreen;
  outline: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
} */